<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
    <p>User page</p>
    <p th:text="${user.getUsername()}"></p>
    <tr th:each="role:${user.getRolesList()}">
        <td th:text="${role.getName()}">&nbsp;</td>
    </tr>
    <p th:text="${user.getEmail()}"></p>
    <a th:href="@{./showFormForUpdateUser/{id}(id=${user.id})}" class="btn btn-primary">Update</a>
    <a href="/logout">Logout</a>
</body>
</html>